@using System.Web.Optimization

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>

<body>
    @RenderBody()

    @Scripts.Render("~/bundles/scripts/jquery")
    @* Add Angular Library Here *@
    @Scripts.Render("~/bundles/scripts/angular")
    <script src="~/Scripts/mainApp.js"></script>
    <script src="~/scripts/piskvorkyApp.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>

